<ion-header>

    <ion-navbar>
        <ion-title>Détail de l'événement</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item>
        <strong>Date: </strong> {{ event.date | date:'EEEE dd.MM.yyyy'}}<br>
        <strong>Description: </strong> {{ event.description }}<br>
        <strong>Heure: </strong> {{ event.startTime }} - {{ event.endTime }}<br>
        <strong>Lieu: </strong> {{ event.location }}<br>
        <br>
        <strong>Participation: </strong> {{ event.singers.get(user.id).state }}<br>
    </ion-item>
  <button *ngIf="!isAbsent()" ion-item (click)="newAbsence()" color="danger">
        Annoncer mon absence
    </button>
  <button *ngIf="!isDelayed()" ion-item (click)="newDelay()" color="light">
        Annoncer mon retard
    </button>
  <button *ngIf="!isPresent()" ion-item (click)="newPresence()" color="secondary">
        Annoncer ma présence
    </button>
    <button ion-item (click)="overviewAllParticipations()">
        Aperçu de l'effectif
    </button>
</ion-content>
